<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<h3 thth:text="${factura.descripcion}"></h3>
	<div>
		<!-- con el atributo th:utext la u significa Unscaped que quiere decir que no escapar los caracteres especiasles de las entidades html en este caso el ejemplo con el &aacute; -->
		Cliente: <span th:utext="${factura.cliente.nombre}"></span>
	</div>
	<h4>Detalle Factura</h4>
	<table>
		<thead>
			<tr>
				<th>Producto</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${factura.items}">
				<td th:text="${item.producto.nombre}"></td>
				<td th:text="${item.producto.precio}"></td>
				<td th:text="${item.cantidad}"></td>
				<td th:text="${item.calcularImporte()}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>